<!DOCTYPE html>
<html>
<head>
<title>Welcome to Markin kurs nginx!</title>
</head>
<body>
<h1>Welcome to nginx!</h1>
<p>If you see this page, the nginx web server is successfully installed and
working. Further configuration is required.</p>

<p>Hostname: {{ansible_hostname}} IP: {{ansible_default_ipv4.address}} </p>

<p><em>Thank you for using nginx.</em></p>
</body>
</html>
